/* Predefined gradient */
.purple {
  --gradient-colors: #a531dc, #4300b1;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.red {
  --gradient-colors: #ff0000, #470000;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.darkblue {
  --gradient-colors: #4643df, #0b0a47;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.deepblue {
  --gradient-colors: #3793ff, #0017e4;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.cyan {
  --gradient-colors: #5ee2ff, #00576a;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.peach {
  --gradient-colors: #ff896d, #d02020;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.yellow {
  --gradient-colors: #ffd439, #ff7a00;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.black {
  --gradient-colors: #565656, #181818;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.lightpink {
  --gradient-colors: #dd7bff, #ff6c6c;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.gray {
  --gradient-colors: #afcccb, #616566;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.magenta {
  --gradient-colors: #d0004b, #88069d;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

/* Combos with dynamic direction */
.lightgreen {
  --gradient-colors: #ffe70b, #27b643;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.darkgreen {
  --gradient-colors: #00b960, #00552c;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.bluered {
  --gradient-colors: #ff3f3f, #063cff;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.lightpurple {
  --gradient-colors: #4063bc, #6b0013;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.brightorange {
  --gradient-colors: #ffc328, #e20000;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.lightbluegreen {
  --gradient-colors: #8fff85, #39a0ff;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.dimyellow {
  --gradient-colors: #b9a14c, #000000;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.ocean {
  --gradient-colors: #1488cc, #2b32b2;
  background: linear-gradient(
    var(--gradient-direction, to right),
    var(--gradient-colors)
  );
}

.bluepink {
  --gradient-colors: #ff5eef, #456eff;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.slate {
  --gradient-colors: #5d85a6, #0e2c5e;
  background: linear-gradient(
    var(--gradient-direction, 220.55deg),
    var(--gradient-colors)
  );
}

.dashingblue {
  --gradient-colors: #6253e1, #04befe;
  background: linear-gradient(
    var(--gradient-direction, 135deg),
    var(--gradient-colors)
  );
}

.purple,
.red,
.darkblue,
.deepblue,
.cyan,
.peach,
.yellow,
.black,
.lightpink,
.gray,
.magenta,
.lightgreen,
.darkgreen,
.bluered,
.lightpurple,
.brightorange,
.lightbluegreen,
.dimyellow,
.ocean,
.bluepink,
.slate,
.dashingblue {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
