.purple {
  background: linear-gradient(220.55deg, #a531dc 0%, #4300b1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.red {
  background: linear-gradient(220.55deg, #ff0000 0%, #470000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.darkblue {
  background: linear-gradient(220.55deg, #4643df 0%, #0b0a47 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.deepblue {
  background: linear-gradient(220.55deg, #3793ff 0%, #0017e4 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.cyan {
  background: linear-gradient(220.55deg, #5ee2ff 0%, #00576a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.peach {
  background: linear-gradient(220.55deg, #ff896d 0%, #d02020 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.yellow {
  background: linear-gradient(220.55deg, #ffd439 0%, #ff7a00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.black {
  background: linear-gradient(220.55deg, #565656 0%, #181818 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lightpink {
  background: linear-gradient(220.55deg, #dd7bff 0%, #ff6c6c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gray {
  background: linear-gradient(220.55deg, #afcccb 0%, #616566 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.magenta {
  background: linear-gradient(220.55deg, #d0004b 0%, #88069d 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* combos */
.lightgreen {
  background: linear-gradient(220.55deg, #ffe70b 0%, #27b643 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.darkgreen {
  background: linear-gradient(220.55deg, #00b960 0%, #00552c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.bluered {
  background: linear-gradient(220.55deg, #ff3f3f 0%, #063cff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lightpurple {
  background: linear-gradient(220.55deg, #4063bc 0%, #6b0013 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.brightorange {
  background: linear-gradient(220.55deg, #ffc328 0%, #e20000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.lightbluegreen {
  background: linear-gradient(220.55deg, #8fff85 0%, #39a0ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.dimyellow {
  background: linear-gradient(220.55deg, #b9a14c 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.ocean {
  background: linear-gradient(to right, #1488cc, #2b32b2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.bluepink {
  background: linear-gradient(220.55deg, #ff5eef 0%, #456eff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.slate {
  background: linear-gradient(220.55deg, #5d85a6 0%, #0e2c5e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.dashingblue {
  background: linear-gradient(135deg, #6253e1, #04befe);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
